<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-todo [todo]="currentTodo" (todoAdded)="add($event)"></app-todo>
<app-todo-list [todos]="todos" (todoSelected)="select($event)"></app-todo-list>

<router-outlet></router-outlet>
